@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
}

:root {
  font-size: 100%;
  --default-border: 0.1rem solid rgba(0, 0, 0, 0.15);
  --default-font: 'Karla', sans-serif;
  --yellow: #F4CE14;
  --green: #495E57;
}

body {
  font-family: var(--default-font);
  font-size: 1rem;
}

#app {
  display: grid;
  grid-template-areas:
    ". . .  ."
    ". hero  form ."
    ". hero  form ."
    ". . . ."
  ;
  gap: 10em 1em;
}

main {
  grid-area: form;
}

aside {
  grid-area: hero;
}

main {
  width: 100%;
  height: 100%;
  border: var(--default-border);
  padding: 3em 5em;
  border-radius: 16px;

  position: relative;
}

h1 {
  color: var(--yellow);
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  height: 50px;
  width: 50px;
  display: inline-flex;
  border: none;
  border-radius: 50%;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.logo {
  width: 25em;
  display: block;
  margin-bottom: 40px;
}

.hero {
  width: 35em;
  display: block;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  #app {
    gap: 5.5em 0;
  }

  body {
    font-size: 1.2rem;
  }

  main {
    width: 90vw;
    margin: 0 10px;
  }

  h1 {
    font-size: 3rem;
  }

  aside {
    display: none;
  }

  .back-button {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 480px) {
  #app {
    gap: 0em 0em;
  }

  #title {
    gap: 0px;
  }

  body {
    font-size: 1rem;
  }

  main {
    margin: 0;
    border: none;
    width: 90vw;
  }

  main header {
    gap: 4rem;
  }

  h1 {
    font-size: 2rem;
  }
}